.placeCard {
    background-color: #DEDBD2;
    color: #4A5759;
    border-radius: 10px;
    padding: 1rem;
    margin-bottom: 0.5rem;
    width: 100%;
    text-align: left;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.placeCard * {
    margin: 0.125rem;
}

.placeButtonContainer {
    text-align: center;
}

.placeRemoveButton,
.placeAddButton {
    width: 90%;
    margin: auto;
}

.placeRemoveButton:hover, .placeAddButton:hover {
    background-color: #A3B18A;
}