.spotlightCard {
    border-radius: 0.5rem;
    padding: 0.5rem 1rem 0.5rem 1rem
}

.spotlightButton {
    padding: 0;
    margin: 0;
    border-radius: 0.55rem;
}

.spotlightText {
    padding: 0;
    margin: 0;
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
    width: 10rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #e9ecef;
  position: static;
  width: 100%;
  inset-inline: 0;
  top: 0;
}

.navbar .logo {
  color: #B0C4B1;
  font-weight: bold;
  font-size: 1.2rem;
  max-height: 50px;
}

.navbar .dropdown {
  position: relative;
  display: inline-block;
}

.navbar .dropdown .icon {
  max-height: 25px;
  width: auto;
}

.navbar .dropdown .content {
  position: absolute;
  right: 0;
  background-color: rgba(255, 255, 255, 0.7);
  min-width: 100px;
  z-index: 1;
  flex-direction: column;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.navbar .dropdown .content a {
  color: #3A5A40;
  display: block;
  padding: 0.75rem;
  text-decoration: none;
}

button {
  background-color: #B0C4B1;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  margin-left: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.navbar button:hover {
  background-color: #DEDBD2;
}